.container {
  padding: 30px;
}

/* COVER */
.cover {
  height: 280px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #ddd, #aaa);
}

/* MAIN */
.main {
  display: flex;
  gap: 30px;
  margin-top: 25px;
}

/* LEFT */
.left {
  flex: 2;
}

/* TAGS */
.tags {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tag {
  background: #4a3aff;
  color: white;
  padding: 5px 12px;
  border-radius: 12px;
  font-size: 12px;
}

.status {
  background: #eee;
  padding: 5px 12px;
  border-radius: 12px;
  font-size: 12px;
}

/* TITLE */
.title {
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0;
}

/* ORGANIZER */
.organizer {
  margin-bottom: 15px;
  color: #555;
}

/* DESCRIPTION */
.desc {
  color: #666;
  line-height: 1.6;
}

/* RIGHT */
.right {
  flex: 1;
}

/* BUTTON */
.register {
  width: 100%;
  padding: 14px;
  background: linear-gradient(90deg, #4a3aff, #6a5cff);
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}

/* INFO BOX */
.infoBox {
  background: #f5f6fa;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* MAP */
.map {
  height: 180px;
  background: #ddd;
  border-radius: 12px;
}